<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rust-htop</title>

    <link rel="stylesheet" type="text/css" href="vendor/css/purecss/base-min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/css/purecss/grids-min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/css/purecss/grids-responsive-min.css" />

    <script defer type="module" src="asset/js/index.mjs"></script>
    <link rel="stylesheet" href="asset/css/index.css" />
</head>
<body>
    <h1 class="page-title">rust-htop</h1>
    <preact-view />
</body>
</html>