@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #402e2a;
}

.page-title {
    background-color: black;
    color: #fff1d0;
    padding-left: 1em;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.section-title {
    background-color: black;
    color: #fff1d0;
    padding-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.cpu-usage-bar {
    background-color: #fff1d0;
    height: 2em;
    margin: 0.5em;
    line-height: 2em;

    position: relative;
}

.cpu-usage-bar-inner {
    background-color: #ed6d5a;
    height: 100%;

    position: absolute;
}

.cpu-usage-text {
    margin-left: 1em;
    font-size: 1em;
    z-index: 10;
    position: relative;
}

.process-table {
    margin: 0.5em;
}

.process-table thead {
    color: #fff1d0;
    background-color: black;
}

.process-table tbody>tr {
    background-color: #fff1d0;
}

.input-process-limit {
    display: inline;
    font-size: 0.75em;
}

.input-process-limit input {
    text-align: center;
    color: white;
    background-color: black;
    margin: 5px;
    border: 1px white solid;
}

.system-info-text {
    background-color: #fff1d0;
    padding: 5px;
    border-right: #402e2a solid;
}